/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'ZCOOL QingKe HuangYou';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ZCOOL QingKe HuangYou Regular'), local('ZCOOLQingKeHuangYou-Regular'), url(https://fonts.gstatic.com/s/zcoolqingkehuangyou/v5/2Eb5L_R5IXJEWhD3AOhSvFC554MOOahI4mR4jPe4.ttf) format('truetype');
}
.flex {
  display: flex;
  flex-direction: row;
}
.size {
  width: 100%;
  height: auto;
}
.main-container {
  margin: 3%;
}
.main-container nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 2%;
}
.main-container nav a {
  width: 10%;
}
.main-container .jumbo-head {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  border: none;
  flex-direction: column;
  background-color: lightgray;
  align-items: center;
  align-content: space-around;
  padding: 3%;
}
.main-container .jumbo-head hr {
  width: 90%;
}
.main-container .jumbo-head img {
  width: 40%;
}
.main-container .jumbo-head h1 {
  font-size: 3em;
  margin: 1% 0;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.main-container .jumbo-head h3 {
  font-size: 1.3em;
}
.main-container .jumbo-head p {
  margin: 1% 0;
}
.main-container .jumbo-head button {
  background-color: green;
  color: white;
  border: none;
  padding: 1% 2%;
  border-radius: 7%;
}
.main-container .about-skills {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main-container .about-skills #about {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  background-color: lightgray;
}
.main-container .about-skills #about h2 {
  margin: 2% 0;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.main-container .about-skills #about p {
  margin: 3% 0;
}
.main-container .about-skills div {
  margin: 3% 0;
}
.main-container .about-skills div p {
  font-size: 1.2em;
}
.main-container .about-skills div h2 {
  font-size: 2em;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.main-container .about-skills div ul {
  padding: 10%;
}
.main-container .about-skills div li {
  border: 1px solid lightgray;
  font-size: 1.3em;
  padding: 7% 10%;
  width: 100%;
}
.main-container .about-skills div li:nth-child(2) {
  background-color: lightgray;
}
.main-container .about-skills div li:nth-child(4) {
  background-color: lightgray;
}
@media (max-width: 500px) {
  .main-container .about-skills {
    display: flex;
    flex-direction: column;
  }
}
.main-container #work h2 {
  font-size: 2em;
  margin: 2% 0;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.main-container #work table {
  width: 100%;
}
.main-container #work tr {
  display: flex;
  justify-content: space-between;
}
.main-container #work td {
  display: flex;
}
.main-container #work #apple {
  margin-left: 50px;
}
.main-container #work #micro {
  margin-left: 55px;
}
.main-container #work #ama {
  margin-left: 25px;
}
.main-container #work .gray {
  background-color: lightgray;
}
.main-container footer {
  text-align: center;
  margin: 2% 0;
  background-color: lightseagreen;
  padding: 3%;
}
